@charset "UTF-8";

:root:root {
  --adm-color-primary: #ed424b;
  --adm-font-size-main: 14px;
  --adm-color-text: #33373D;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;

  &:active {
    color: #ed424b;
  }
}

a[href]:active,
button:active {
  background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
  background-image: linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05))
}

em {
  font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
  font-size: 100%
}

input,
select,
textarea {
  font-family: inherit;
  box-sizing: border-box
}

img {
  display: inline-block
}

p {
  word-break: break-all
}

main {
  display: block
}

html {
  font-size: 16px
}

@media screen and (min-width: 375px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
  }
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-user-select: none;
  color: #33373d;
  fill: currentColor;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  background-color: #f6f7f9;
}
