.btn {
  display: inline-block;
  padding: 0 .625rem;
  font-size: .8125rem;
  line-height: 1.6875rem;
  text-align: center;
  border: 1px solid;
  border-radius: 99px;

  &:hover {
    color: #ed424b;
  }
}

.gray {
  margin-top: .75rem;
  color: #969ba3;
  background-color: #fff;

  &:hover {
    color: #969ba3;
  }
}

.tag {
  color: #969ba3;
  line-height: 1.25rem;
  padding: 0 .625rem;
  border-color: transparent;
}

.tab {
  display: block;
  padding: 0 .5rem;
  font-size: .8125rem;
  color: #ed424b;
  line-height: 1.6875rem;
  text-align: center;
  border: 1px solid #ed424b;
  border-left: 0;
  border-radius: 0;
  background-color: #fff;
}

.tabContent {
  position: absolute;
  width: 100vw;
  left: 0;
}

.line {
  color: #ed424b;
  background-color: #F6F7F9;
}

.type-line-active,
.type-tag-active {
  color: #ed424b;
}

.type-gray-active {
  color: #969ba3;
}

.type-tag-active {
  border-color: #ed424b;
}

.type-tab-active {
  color: #fff !important;
  border: 1px solid #ed424b !important;
  background-color: #ed424b !important;
}

.block {
  display: block;
  width: 100%;
  //margin: 0 .5625rem;
}

.solid {
  color: #fff;
  border: 1px solid #ed424b;
  background-color: #ed424b;
}

.outline {
  font-size: .8125rem;
}

.none {
  border: none
}

.circle {
  border-radius: 50%;
}

.tabStart {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #ed424b;
}

.tabEnd {
  border-radius: 0 4px 4px 0;
}
